/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* Entire App */

html, body, [class*="css"]{
    font-family: 'Poppins', sans-serif;
}

/* Background */

.stApp{

background:linear-gradient(
135deg,
#071426,
#0B1F3A,
#101E52
);

}

/* Sidebar */

section[data-testid="stSidebar"]{

background:#0D1628;
border-right:1px solid #2E3A59;

}

/* Buttons */

.stButton>button{

width:100%;
background:linear-gradient(90deg,#2563EB,#7C3AED);

color:white;

border:none;

border-radius:12px;

padding:14px;

font-weight:600;

transition:.3s;

}

.stButton>button:hover{

transform:translateY(-3px);

box-shadow:0px 10px 20px rgba(0,0,0,.3);

}

/* Inputs */

.stNumberInput,
.stSelectbox,
.stSlider{

background:#1A2238;

border-radius:12px;

}

/* Cards */

.metric-card{

background:rgba(255,255,255,.06);

backdrop-filter:blur(12px);

padding:20px;

border-radius:18px;

border:1px solid rgba(255,255,255,.08);

}

/* Headings */

h1{

font-size:48px;

font-weight:700;

color:white;

}

h2{

color:#60A5FA;

}

/* Footer */

.footer{

text-align:center;

padding:30px;

color:#9CA3AF;

font-size:14px;

}
/* ---------- Premium Hero Section ---------- */

.hero{
    padding:38px 45px;
    border-radius:22px;

    background:linear-gradient(
        135deg,
        #2563EB,
        #7C3AED,
        #06B6D4
    );

    color:white;
    text-align:center;

    margin-bottom:28px;

    box-shadow:0 12px 30px rgba(0,0,0,.25);
}

.hero-badge{
    display:inline-block;
    padding:8px 18px;
    border-radius:999px;
    background:rgba(255,255,255,.18);
    backdrop-filter:blur(12px);
    font-size:14px;
    margin-bottom:18px;
    font-weight:600;
}

.hero-title{
    font-size:56px;
    font-weight:800;
    margin-bottom:12px;
}

.hero-subtitle{
    font-size:20px;
    opacity:.95;
    max-width:900px;
    margin:auto;
    line-height:1.8;
}
.main .block-container{
    max-width: 1400px;
    padding-top: 1.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
}
